$fg-color: #d9241b
$outline-color: #fff

@font-face
	font-family: "FontAwesome"
	src: url("../fonts/FontAwesome-Regular-webfont.eot")
	src: url("../fonts/FontAwesome-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome-Regular-webfont.woff") format("woff"), url("../fonts/FontAwesome-Regular-webfont.ttf") format("truetype")
	font-weight: normal
	font-style: normal

body
	background: $outline-color
	font-family: 'Russo One', sans-serif

h1, h3, h4
	font-weight: 500

h1
	font-family: 'Seymour One', sans-serif
	margin: 100px 0 20px
	text-transform: uppercase
	font-size: 2.6rem

h3
	margin-bottom: 25px
	font-size: 2.3rem
	text-align: left
	&:after
		content: ''
		display: block
		width: 10%
		padding-top: 5px
		border-bottom: 3px solid $fg-color
h4
	font-size: 2rem

a
	display: block
	text-align: center
	outline: none
	display: inline-block
	text-decoration: none
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25)
	transition: all ease .3s
	&:hover
		background: $fg-color

header
	padding: 80px 0 150px
	color: $fg-color
	text-shadow: -1px -1px 0 $outline-color, 1px -1px 0 $outline-color, -1px 1px 0 $outline-color, 1px 1px 0 $outline-color
	background: url("../img/bg/header2.jpg") no-repeat fixed center / cover
	.btn, .services
		font-size: 20px
		margin-top: 100px

.button
	background-color: $outline-color
	text-transform: uppercase
.services
	i
		font-size: 5.5em
		color: $fg-color
		text-shadow: -1px -1px 0 $outline-color, 1px -1px 0 $outline-color, -1px 1px 0 $outline-color, 1px 1px 0 $outline-color
	a
		border: 1px solid $outline-color
		color: $fg-color
		text-shadow: -1px -1px 0 $outline-color, 1px -1px 0 $outline-color, -1px 1px 0 $outline-color, 1px 1px 0 $outline-color
		padding: 25px
		margin-top: 20px
		box-shadow: 0 -8px $fg-color, 0 8px $fg-color
		&:hover
			color: $outline-color
			box-shadow: 0 -8px $outline-color, 0 8px $outline-color
			text-shadow: none
			transform: scale(1.15)
		&:hover i
			text-shadow: none
			color: $outline-color
	p
		font-size: 20px
		margin: 15px 0 0
	.design
		a
			background-image: url("../img/artwork/9.jpg")
			background-position: top
			background-size: cover
			&:hover
				background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/artwork/9.jpg")
	.vector
		a
			background-image: url("../img/artwork/3.jpg")
			background-position: center
			background-size: cover
			&:hover
				background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/artwork/3.jpg")

.about
	background: url("../img/bg/about.jpg") no-repeat fixed center / cover
	color: $outline-color
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
	font-size: 20px
	h3:after
		border-color: $outline-color
	a
		background-color: $outline-color
		color: #000
		font-size: 20px
		margin-top: 10px
		&:hover
			background-color: $fg-color
	.one-third
		margin-top: 20px
		padding: 20px
		a
			display: block
	.bottom
		background: rgba(0,0,0,.6)
		margin-bottom: 20px
	padding: 20px 0px
	.center
		text-align: center
	.red
			color: $fg-color
	.two-thirds
		padding: 20px	
		p:last-child
			margin-bottom: 0

.contact
	text-align: center
	a:hover i
		text-shadow: none
		color: $outline-color
	i
		color: #000
		font-size: 2.5rem
		margin: 10px