@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome-Regular-webfont.eot");
  src: url("../fonts/FontAwesome-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome-Regular-webfont.woff") format("woff"), url("../fonts/FontAwesome-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #FDD761;
  font-family: 'Seymour One', sans-serif;
  color: #fcaa2f;
}

h1, h3, h4, header .btn {
  font-weight: 700;
}

h1, h3, .header h4 {
  text-shadow:
 -2px -2px 0 #000,  
  2px -2px 0 #000,
  -2px 2px 0 #000,
   2px 2px 0 #000;
}

h1 {
  margin: 100px 0 20px;
  text-transform: uppercase;
  font-size: 2.6rem;
}

h3 {
  margin-bottom: 25px;
  font-size: 2.3rem;
  text-align: left;
}

h4 {
  font-size: 2rem;
}

h3:after {
  content: '';
  display: block;
  width: 10%;
  padding-top: 5px;
  border-bottom: 3px solid whitesmoke;
}

h1 + h4 {
  font-weight: normal;
}

a {
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background: #fcca2f;
  font-size: 14px;
  color: black;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
}

.btn {
  background-color: #fafafa;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 12px 30px;
}

.block {
  width: 130px;
  margin: 0 auto;
  display: block;
}

header .btn {
  text-transform: uppercase;
}

header a:hover, .about a:hover {
  background: #fcc316;
}

header .btn, .services {
  margin-top: 100px;
}

header {
  padding: 80px 0 150px;
}

.about, .contact {
  padding: 150px 0;
}

header {
  background: url("../img/bg/header.jpg") no-repeat fixed center / cover;
  text-align: center;
}

.contact ul {
  list-style: none;
  font-size: 0;
}

.contact li {
  margin-bottom: 0;
  display: inline-block;
}

/* SERVICES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.services a {
  padding: 25px;
  background: #fafafa;
  margin-top: 20px;
  border-radius: 4px;
}

.services a:hover {
  color: black;
}

.services i {
  font-size: 5.5em;
  color: #f4ba04;
}

.services a:hover i {
  color: white;
}

.services p {
  margin: 15px 0 0;
}



/* ABOUT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.about {
  background: url("../img/bg/about.jpg") no-repeat fixed center / cover;
  color: black;
}

.about .one-third, 
.about .two-thirds {
  background: white;
  background: rgba(255,255,255,.3);
  padding: 10px;
  border-radius: 5px;
}

.about .one-third {
  margin-top: 20px;
}

.about a {
  margin-top: 10px;
}

.about ul {
  margin-bottom:18px;
}

.about h3:after, .contact h3:after {
  border-color: black;
}

.about .center {
  text-align: center;
}

.about .bottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.about .one-third a {
  margin: 10px auto;
  width: 50%;
  display: block;
} 

.about .two-thirds p:last-child {
  margin-bottom: 0;
}



/* CONTACT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contact {
  color: black;
  text-align: center;
}

.contact p {
  margin: 70px 0 0;
}

.contact ul a {
  margin-top: 50px;
  box-shadow: none;
  background: none;
  margin-left: 30px;
}

.contact li:nth-child(1) a {
  margin-left: 0;
}

.contact span {
  font-size: 2em;
  color: white;
  -webkit-transition: color ease .4s;
          transition: color ease .4s;
}

.contact span:hover {
  color: steelblue;
}

.contact .btn-blue {
  position: relative;
  margin-top: 30px;
  color: white;
  background: steelblue;
  box-shadow: 0 8px #3b6d97;
}

.contact .btn-blue:hover {
  background: #427aa9;
  color: white;
}

.contact .btn-blue:after {
  position: absolute;
  content: '☃';
  top: 5px;
  right: 30px;
  font-size: 1.6em;
}

.contact .btn-blue:active {
  box-shadow: 0 4px #3b6d97;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.contact .creator a {
    background: none;
}



/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 550px) {

  nav li {
    width: auto;
  }

  a {
    box-shadow: 0 8px #f4ba04;
  }

  nav a {
    padding: 7px;
    border-right: 1px solid #fabd03;
    width: 80px;
  }

  nav li:nth-child(2n+1) a:after {
    content: none;
  }

  nav li:last-child a {
    border-right: none;
  }

  header a:hover, .about a:hover {
    box-shadow: 0 8px #f4ba04;
  }

  header a:active, .about a:active {
    box-shadow: 0 4px #f4ba04;
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
  }

  .about .one-third {
    margin-top: 0;
  }
  
  .about .one-third a {
    width: 35%;  
  }
  
  .contact .creator a {
    box-shadow: none;
  }

}



@media (min-width: 750px) {

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  .services a:hover {
    box-shadow: 0 -8px white;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }
  
  .contact ul a {
    margin-left: 45px;
  }

  .contact ul span {
    font-size: 3em;
  }

}