@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome-Regular-webfont.eot");
  src: url("../fonts/FontAwesome-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome-Regular-webfont.woff") format("woff"), url("../fonts/FontAwesome-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  font-family: 'Russo One', sans-serif;
}

h1,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-family: 'Seymour One', sans-serif;
  margin: 100px 0 20px;
  text-transform: uppercase;
  font-size: 2.6rem;
}

h3 {
  margin-bottom: 25px;
  font-size: 2.3rem;
  text-align: left;
}

h3:after {
  content: '';
  display: block;
  width: 10%;
  padding-top: 5px;
  border-bottom: 3px solid #d9241b;
}

h4 {
  font-size: 2rem;
}

a {
  display: block;
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

a:hover {
  background: #d9241b;
}

header {
  padding: 80px 0 150px;
  color: #d9241b;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  background: url("../img/bg/header2.jpg") no-repeat fixed center/cover;
}

header .btn,
header .services {
  font-size: 20px;
  margin-top: 100px;
}

.button {
  background-color: #fff;
  text-transform: uppercase;
}

.services i {
  font-size: 5.5em;
  color: #d9241b;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.services a {
  border: 1px solid #fff;
  color: #d9241b;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  padding: 25px;
  margin-top: 20px;
  -webkit-box-shadow: 0 -8px #d9241b, 0 8px #d9241b;
  box-shadow: 0 -8px #d9241b, 0 8px #d9241b;
}

.services a:hover {
  color: #fff;
  -webkit-box-shadow: 0 -8px #fff, 0 8px #fff;
  box-shadow: 0 -8px #fff, 0 8px #fff;
  text-shadow: none;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.services a:hover i {
  text-shadow: none;
  color: #fff;
}

.services p {
  font-size: 20px;
  margin: 15px 0 0;
}

.services .design a {
  background-image: url("../img/artwork/9.jpg");
  background-position: top;
  background-size: cover;
}

.services .design a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/artwork/9.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/artwork/9.jpg");
}

.services .vector a {
  background-image: url("../img/artwork/3.jpg");
  background-position: center;
  background-size: cover;
}

.services .vector a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/artwork/3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/artwork/3.jpg");
}

.about {
  background: url("../img/bg/about.jpg") no-repeat fixed center/cover;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 20px;
  padding: 20px 0px;
}

.about h3:after {
  border-color: #fff;
}

.about a {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  margin-top: 10px;
}

.about a:hover {
  background-color: #d9241b;
}

.about .one-third {
  margin-top: 20px;
  padding: 20px;
}

.about .one-third a {
  display: block;
}

.about .bottom {
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.about .center {
  text-align: center;
}

.about .red {
  color: #d9241b;
}

.about .two-thirds {
  padding: 20px;
}

.about .two-thirds p:last-child {
  margin-bottom: 0;
}

.contact {
  text-align: center;
}

.contact a:hover i {
  text-shadow: none;
  color: #fff;
}

.contact i {
  color: #000;
  font-size: 2.5rem;
  margin: 10px;
}